{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

</head>
<body>
    
    <div class="row" id="header">
        <div class="col-sm-4 text-center">
        </div>
        <div class="col-sm-4 text-center">
            <h1>Dashboard</h1>
        </div>
        <div class="col-sm-2 offset-sm-2">
            <a type="button" name="logout" id="logout" class="btn btn-primary" href="{% url 'logout'%}">Logout</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-around">
            {% if user.is_staff %}
            <div class="col-4">
                <form action="add" method="POST">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="movie">Movie Name</label>
                            <input type="text" name="name" class="form-input" id="movie">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="director">Director</label>
                            <input type="director" name="director" class="form-input" id="director">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="imdb_score">IMDB Score</label>
                            <input type="text" name="imdb_score" class="form-input" id="imdb_score">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="popularity">99Popularity</label>
                            <input type="text" name="popularity" class="form-input" id="popularity">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Genre</label>
                            <select name="genre" class="custom-select" multiple>
                                {% for genre in genres %}
                                    <option value={{genre.id}}>{{genre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {% endif %}
            
            <div class="col-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Sr No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Director</th>
                        <th scope="col">IMDB Score</th>
                        <th scope="col">99Popularity</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                        <tr>
                            <th scope="row">{{movie.id}}</th>
                            <td>{{movie.name}}</td>
                            <td>{{movie.director}}</td>
                            <td>{{movie.imdb_score}}</td>
                            <td>{{movie.popularity}}</td>
                            <td>
                            {% for genre in movie.genre.all %}
                                <p>{{genre}}</p>
                            {% endfor %}
                            </td>
                            <td>
                                {% comment %} <a class="btn btn-primary" href="{% url 'edit' movie_id=movie_id%}">Edit</a> {% endcomment %}
                                </br>
                                <a class="btn btn-primary" href="{% url 'delete' movie_id=movie.id%}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>

</body>
</html>