{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body bgcolor="cyan">

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">

                <div class="signup-content">

                    <form action="register" method="post" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="first_name" placeholder="First name"><br>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="last_name" placeholder="Last name"><br>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" placeholder="Email"><br>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" placeholder="Username"><br>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password1" placeholder="Password"><br>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password2" placeholder="Confirm Password"><br>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="login" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <div>
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    </div>

    <!-- JS -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    
</body>
</html>